@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, div.header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body._lock {
  overflow: hidden;
}
input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  min-height: 100%;
}

/*--------------------*/

.wrapper {
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #7F7F7F;
}
.header__container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
}
.header__logo {

}
.header__menu {

}
.menu {

}
.menu__icon {
  display: none;
}
.menu__body {

}
.menu__list {

}
.menu__list > li {
  position: relative;
  margin: 0 0 0 20px;

}
.menu__link {
  color: #fff;
  font-size: 12px;
}
.menu__link:hover {
  color: #ccc;
}
.menu__arrow {
  display: none;
}
.menu__sub-list {
  position: absolute;
  top: 100%;
  left: -10px;
  background-color: #000;
  padding: 15px;
  min-width: 120px;
/*  opacity: 0;
visibility: hidden;*/
border-radius: 5px;
}
.menu__sub-list > li {
  font-size: 12px;
  margin: 0 0 10px 0;
}
.menu__sub-list > li:last-child {
  margin: 0;
}
.menu__sub-link {
  color: #fff;
}
.menu__sub-link:hover {
  color: #ccc;
}

@media (min-width: 767px) {
  .menu__list {
    display: flex;
    align-items: center;
  }
  /* далее идет внутренний отступ у пункта меню, он расширяет область где пункт активен
  и отодвигает подменю. В итоге пока ведешь мышку от пункта до подменю, подменю не пропадет */
  .menu__list > li {
    padding: 10px 0;
  }
  .menu__link {
    font-size: 16px;
  }
  .menu__sub-list {
    transform: translate(0px, 10%);
    opacity: 0;
    visibility: hidden;
/* 
Далее идет свойство, котороене позволяет мышке, которая ушла с подменю, снова "ловить" подменю.
Если это свойство убрать, то подменю можно будет в первые секунды снова подхватить
*/
pointer-events: none;
transition: all 0.3s ease 0s;
min-width: 180px;
padding: 7.5px;
}
}
.main {
  width: 100%;
  margin: 80px 0 0 0;
}

.slider {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}
/*@media (min-width: 858px) {
  .menu__link {
    font-size: 14px;
  }
  }*/

  @media (max-width: 767px) {
    .header {
      background-color: #fff;
    }
    .menu__icon {
      z-index: 5;
      display: block;
      position: relative;
      width: 30px;
      height: 18px;
      cursor: pointer;
    }

    .menu__icon span,
    .menu__icon:before,
    .menu__icon:after {
      left: 0;
      position: absolute;
      height: 10%;
      width: 100%;
      transition: all 0.3s ease 0s;
      background-color: #fff;


    }
    .menu__icon:before,
    .menu__icon:after {
      content: "";
    }

    .menu__icon:before{
      top: 0;
    }
    .menu__icon:after {
      bottom: 0;
    }

    .menu__icon span {
      top: 50%;
      transform: scale(1) translate(0px, -50%);
    }

    .menu__icon._active span {
      transform: scale(0) translate(0px, -50%);
    }

    .menu__icon._active::before {
      top:45%;
      transform: rotate(-45deg); translate(0px, -50%);
    }

    .menu__icon._active::after {
      bottom: 45%;
      transform: rotate(45deg); translate(0px, 50%);
    }
    .menu__body {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 100px 30px 30px 30px;
      transition: left 0.3s ease 0s;
      overflow: auto;
    }

    .menu__body::before {
      content: "";
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      height: 70px;
      background-color: #7F7F7F;
      z-index: 3;
    }

    .menu__body._active {
      left: 0;
    }
    .header__logo {
      z-index: 5;
    }
    .menu__list > li {
      flex-wrap: wrap;
      margin: 0px 0px 30px 0px;
    }

    .menu__list > li:last-child {
      margin-bottom: 0px;
    }
    .menu__list > li._active .menu__sub-list {
      display: block;
    }
    .menu__link {
      font-size: 24px;
    }
    .menu__sub-list {
      position: relative;
      background-color: #fff;
      flex: 1 1 100%;
      margin: 10px 0 0 0;
      display: none;
    }
    .menu__sub-link {
      font-size: 20px;
      color: #000;
    }

  }
  /*----------------*/
  body._pc .menu__list > li:hover .menu__sub-list {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
  }

  /*----------------*/
  body._touch .menu__list > li._active .menu__sub-list {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
  }
  body._touch .menu__list > li {
    display: flex;
    align-items: center;
  }
  body._touch .menu__link {
    flex: 1 1 auto;
  }

  body._touch .menu__arrow {
    display: block;
    width: 0;
    height: 0;
    margin: 0 0 0 5px;
    transition: transform 0.3s ease 0s;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #fff;
  }
  body._touch .menu__list > li._active .menu__arrow {
    transform: rotate(-180deg);
  }

  /*----------------*/
